<ion-nav-view>
</ion-nav-view>

<ion-view class="custom-view " id="invitePeopleView" cache-view="false">

  <div class="top-bar">
    <a class="main-global-back-button">
      <span class="icon fa fa-angle-left"></span>
    </a>
  </div>
  <ul class="nav secondary-nav-tabs">
    <li class="col-xs-6 nopadding text-center active" >
      <a href="#friendsInvite" data-toggle="tab">
        <span class="title">Friends</span>
        <span class="tab-icon fa fa-heart"></span>
      </a>
    </li>
    <li  class="col-xs-6 nopadding text-center">
      <a href="#nearbyPeopleInvite" data-toggle="tab">
        <span class="title">Nearby</span>
        <!--<span class="tab-count nb-count-i-follow">10</span>-->
        <span data-wow-delay="3s" data-wow-iteration="2" data-wow-duration="2000ms" class="wow bounce tab-icon fa fa-map-marker"></span>
      </a>
    </li>
  </ul>

  <ion-content has-bouncing="true"  class="content-scrolling-area secondary-nav-tabs-parent">
    <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()">
    </ion-refresher>
    <div>
      <div >
        <div class="tab-content">
          <div class="tab-pane active" id="friendsInvite">
            <div id="activeUsersListView" class="user-list-view" >
              <ul>
                <li class="normal full-width-rectangular-item trans-background" ng-repeat="user in activeUsers">
                  <div class="top-info-holder row" >
                    <img  class="img-circle" src="{{ user.profile_pic }}" alt="">
                    <div class="content">
                      <p class="title name">{{ user.name }}</p>
                      <p class="info" style="color: #0c0">online</p>
                    </div>
                    <div class="action-btns actions-holder ">
                      <a class="action-btn" ng-click="inviteUserClicked(user)">
                        <span ng-show="user.isAlreadyInvited == false" class="icon fa fa-plus"></span>
                        <span ng-show="user.isAlreadyInvited == true" class="icon fa fa-plus" style="color: #444"></span>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <div id="otherFriendsListView" class="user-list-view" >
              <ul>
                <li class="normal full-width-rectangular-item trans-background" ng-repeat="user in otherFriendsUsers">
                  <div class="top-info-holder row" >
                    <img  class="img-circle" src="{{ user.profile_pic }}" alt="">
                    <div class="content">
                      <p class="title name">{{ user.name }}</p>
                      <p class="info">active</p>
                    </div>
                    <div class="action-btns actions-holder ">
                      <a class="action-btn" ng-click="inviteUserClicked(user)">
                        <span ng-show="user.isAlreadyInvited == false" class="icon fa fa-plus"></span>
                        <span ng-show="user.isAlreadyInvited == true" class="icon fa fa-plus" style="color: #444"></span>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="tab-pane " id="nearbyPeopleInvite">
            <div id="" class="user-list-view" >
              <ul>
                <li class="proximity full-width-rectangular-item trans-background" ng-repeat="user in nearbyUsers">
                  <div class="top-info-holder row" >
                    <div class="dist-content">
                      <h3 class="title">{{ user.distance }} </h3>
                      <p class="info">km</p>
                    </div>
                    <img  class="img-circle" src="{{ user.profile_pic }}" alt="">
                    <div class="content">
                      <p class="title name">{{ user.name }}</p>
                    </div>
                    <div class="action-btns actions-holder ">
                      <a class="action-btn" ng-click="inviteUserClicked(user)">
                        <span ng-show="user.isAlreadyInvited == false" class="icon fa fa-plus"></span>
                        <span ng-show="user.isAlreadyInvited == true" class="icon fa fa-plus" style="color: #444"></span>
                      </a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="transition-overlay-fade-holder"></div>
</ion-view>
